<section class=" hero-wrap top-img-container js-fullheight">
  <img class="top-img" src="../../assets/images/building.jpg" alt="">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center pt-5 mt-md-5 fadeIn ftco-animated">
        <h1 class="mb-3 bread mt-5">COMPANY OVERVIEW</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>COMPANY OVERVIEW</span></p>
      </div>
    </div>
  </div>
</section>

