<section class=" hero-wrap top-img-container js-fullheight">
  <img class="top-img" src="../../assets/images/about_us.jpg" alt="" style="height: 100%">
  <div class="overlay"></div>
  <div class="container">
    <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center pt-5 mt-md-5 fadeIn ftco-animated">
        <h1 class="mb-3 bread mt-5">About us</h1>
        <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>About us</span></p>
      </div>
    </div>
  </div>
</section>

<section class="ftco-section ftco-about">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img style="width: 100%" src="../../assets/images/about-us-img.jpg" alt="">
      </div>
      <div class="col-md-6 pl-md-5 ftco-animate align-items-center fadeInUp ftco-animated">
        Established in 2003, the company “KARUNATHILAKA CONSTRUCTION” created a name for itself within a very short span of time to become one of the most sought after Civil Constructors in theMini Hydro related construction.

        The mainstay behind its success, Mr. A.W.Karunathilaka, started his career with The Central Engineering Consultancy Bureau (CECB) and after gathering sufficient experience in road and bridge construction, moved on to “Southern Group Civil Construction” and was involved in the construction of the 26 K.M. Rathkinda Road Project in Mahaweli System C, Dehiattakandiya.

        The turning point of his career was with “Altip Construction (Pvt) Ltd”, one of the pioneers in mini hydro power project construction. His career at ALTIP started at the OECF of Japan funded “Baseline Highway Phase I Project”, from where he was elevated as project manager and given the assignment of constructing the “Ellapita Ella MHP”, the very first Mini Hydro Power Project of “Eco Power (Pvt) Ltd”, followed by their second project, “Mandagal Oya MHP”

        During his tenure with ALTIP, he was also involved in the construction of “Bambarabatuwa Oya MHP” for “Vidullanka Plc”,and also in the initial construction work at “Wey Ganga MHP” for “Didul (Pvt) Ltd” of “Vallibel” fame.

        Towards end of 2002 when the management of ALTIP took a strategic decision to close its construction operation,Mr. Karunathilaka was invited to continue the hydro power related construction work with the now already established

        client base and thus, “KARUNATHILAKA CONSTRUCTION” was formed in the year 2003.
      </div>
    </div>
  </div>
</section>

<section class="ftco-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="services d-flex ftco-animate  fadeInUp ftco-animated">
          <div class="icon-2 d-flex justify-content-center align-items-center">
            <span class="fa fa-bullseye"></span>
          </div>
          <div class="text px-md-2 pl-4">
            <h3>Our Mission</h3>
            <p>To offer state of the art construction and

              consultancy solutions to the clients with

              a guarantee of timely delivery without

              compromising the quality.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="services d-flex ftco-animate  fadeInUp ftco-animated">
          <div class="icon-2 d-flex justify-content-center align-items-center">
            <span class="fa fa-eye"></span>
          </div>
          <div class="text px-md-2 pl-4">
            <h3>Our Vision</h3>
            <p>To continue to be a leader in the local

              construction industry and to enter the

              overseas construction market as well.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>

